* {
  margin: 0;
  padding: 0;
}
html {
  opacity: 1;
}

.hideall {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.25;
  z-index: 3;
}

/* login & register*/
.login-box, .register-box {
  display: none;
  position: fixed;
  top:80px;
  left: calc(50% - 170px);
  width:340px;
  /* height:275px; */
  background-color: white;
  z-index: 4;
}
.register-box {
  /* height:332px; */
}
.login-header, .register-header {
  height:10px;
  background: linear-gradient(to top left, #6baebf, #a1d7e8);
}

.login-title, .register-title {
  position: relative;
  margin:15px;
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
}

.login-cancel, .register-cancel {
  position: absolute;
  top: 0;
  right: 17px;
  width: 16px;
  height: 16px;
}
.login-cancel:hover , .register-cancel:hover, .nav-schedule:hover {
  cursor: pointer;
}
.login-email, .login-password,.register-name, .register-email, .register-password  {
  margin:0 15px 10px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  padding-left:15px;
}

.g-signin2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-btn, .register-btn {
  display: flex;
  width: 310px;
  height: 47px;
  margin:0 15px 10px;
  background: #448899;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border: none;
}
.login-btn:hover, .register-btn:hover {
  cursor: pointer;
}
.login-status, .register-status {
  display:none;
  justify-content: center;
  /* text-align: center; */
  width: 310px;
  height: 22px;
  margin:0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;

}
.login-register, .register-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 22px;
  margin:0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
.login-register:hover, .register-login:hover {
  cursor: pointer;
}


/* nav */
.nav-bar {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: 0px 4px 5px gray;
}

.nav-bar-items {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.nav-title {
  flex: auto;
  margin-left: 20px;
  font-size: 1.5rem;
  color: #438899;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
a,a:link,a:visited {
  color: #438899;
  text-decoration: none;
}


.nav-search {
  /* display: flex;
  flex: auto;
  justify-content: center;
  align-items: center; */
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  border: 1px solid gray;
  border-radius: 7px;

}

.nav-search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form.search {
  /* height: 46px; */
  width: 100%;
}

form.search input {
  float: left;
  background-color: white;
  height: 46px;
  border: 0;
  width: 100%;
  border-radius: 5px 0 0 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  text-indent: 15px;
}

.search-list {
  display: none;
  position: absolute;
  left: 0;
  top: 54px;
  background-color: white;
  width: 100%;
  opacity: 0.8;
  border-radius: 0 0 5px 5px;
}

.search-box {
  margin:5px;
  font-family: Noto Sans TC;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 1rem;
}

.search-box:hover {
  cursor: pointer;
}

.keyin_Keyword {
  float: left;
  height: 46px;
  width: 46px;
  background-color: #438899;
  border: 0;
  border-radius: 0 6px 6px 0;
}

.keyin_Keyword:hover {
  cursor: pointer;
}

.nav-login {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  margin: 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.nav-login-box:hover, .nav-logout:hover{
  cursor: pointer;
  background-color: #438899;
  color: white;
}

.nav-login-box {
  display: none;
  margin: 0 10px;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-login-menu {
  position: relative;
  /* display: none; */
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.img-hamburger-menu {
  display: none;
  width: 35px;
  height: 35px;
}

.img-hamburger-menu {
  cursor: pointer;
}

.nav-login-menu-box {
  /* margin:10px; */
  display: flex;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.profile-box {
  position: relative;
  display: none;
  margin: 0 10px;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 5px;
}

.profile-box:hover {
  cursor: pointer;
  background-color: #438899;
  color: white;
}

.profile-box-list {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  background-color: white;
  min-width: 80px;
  border-radius: 5px;
}

.profile-box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  color: #666666;
}

.profile-box-item:hover{
  cursor: pointer;
  background-color: #438899;
  color: white;
}

/* cover */

.cover {
  padding-top:55px;
  display: flex;
  height: 150px;
  background: linear-gradient(to top left, #e7e5e8, #e7e5e8);
  z-index: -1;
  overflow-x: hidden;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.cover-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}

.cover-content {
  display: flex;
  align-items: center;
  color: #3d3b37;
  z-index: 1;
}

.cover-greeting {
  display: flex;
  align-items: center;
  height: 41px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 24px;
  text-shadow: 0px 0px 30px #AABBCC;
}

.cover-greeting2 {
  height: 22px;
  padding-top: 5px;
  padding-bottom: 25px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
}

.cover-img {
  /* position:absolute;
  right:10%; */
  width: 20%;
  height: auto;

}

/* main */

/* learning box */
.learning-box {
  max-width: 1200px;
  margin: 5px auto;
}

.note-box{
  display: flex;
  max-width: 1200px;
  margin: 5px auto;
}

.note-not-login {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-family: Noto Sans TC;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 2rem;
  /* line-height: 24px; */
}

.note-list {
  display: block;
}

/* lecture list */

.learning-title-box {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 20px;
}

.learning-content-box {
  display: flex;
  max-width: 1200px;
  margin: 5px auto;
}

.lecturelist-box {
  flex:auto;
  width: 10%;
  height: 200px;
  overflow: scroll;
  border: 2px solid gray;
  border-radius: 10px;
  margin-right: 2px;
}

.lecture-list {
  /* border: 1px solid #dcdacb; */
  /* width: 50%; */
  /* border-radius: 10px; */
}

.lecture-status {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 2px 5px;
}

.check-box-img {
  position: absolute;
  width: 100%;
  top: 23.5%;
}

#check-box {
  display: none;
}


.lecture-video-link, .lecture-video-current {
  display: none;
}

ul {
  list-style: none;
}
li {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px 10px;
  border-bottom: 1px solid black;
  font-family: Noto Sans TC;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 1rem;
  line-height: 24px;
}
li:hover {
  cursor: pointer;
  background-color: #f4f3e3;
  /* color: white; */
}

/* video box */
.video-box, .note-content-box {
  flex:auto;
  width: 60%;
}


.lecture-video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* reference box */
.reference-box {
  flex:auto;
  /* border: 1px solid #dcdacb;
  border-radius: 10px; */
  width: 10%;
}

.reference-list {
  margin-left: 2px;
  border: 2px solid gray;
  /* border-bottom: 0; */
  border-radius: 10px;
}
.reference-list-element {
  padding-left: 10px;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-download {
  border-bottom: 0;
}

.note-download:hover {
  cursor: pointer;
  background-color: #f4f3e3;
  border-radius: 6px 0 0 6px;
  /* color: white; */
}

.reference-download:hover {
  cursor: pointer;
  background-color: #f4f3e3;
  /* border-radius: 6px 6px 0 0; */
}

.video-download:hover {
  cursor: pointer;
  background-color: #f4f3e3;
  border-radius: 0 6px 6px 0;
  /* color: white; */
}


/* note box */
.note-empty {
  flex: auto;
  width: 10%;
}
.note-content-box {
  margin-top: 20px;
}
.note-title {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px 0 10px;
  /* line-height: 13px; */
}

.note-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-input-box textarea {
  flex:auto;
  padding-left: 5px;
  /* width: 95%; */
  /* height: 200px; */
  /* padding-left: 10px;
  padding-bottom: 150px;
  padding-top: 10px;
  margin-left: 10px; */
  /* text-align:justify; */
  font-family: Noto Sans TC;
  font-style: normal;
  font-size: 1rem;


}


.note-btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin:10px 0;
}

.note-btn {
  margin: 0 10px;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 5px;
}


.note-btn:hover, .nav-logout:hover{
  cursor: pointer;
  background-color: #438899;
  color: white;
}

#note-video-current {
  flex:auto;
}

.note-show-list {
  margin: 10px 0 ;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* border-bottom: 2px solid lightgray; */
  /* line-height: 13px; */
}
.note-content {
  font-weight: normal;
}
.note-time-box {
  display: flex;
}
.note-time {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 20px;
}

.note-time-current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Noto Sans TC;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 0.8rem;
  color: #FFFFFF;
  border: 1px solid;
  border-radius: 999rem;
  background-color: #448899;
  width: 85px;
}
.note-time-current:hover,.note-delete img:hover {
  cursor: pointer;
}

.note-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.note-delete img {
  height: 1.2rem;
}

footer {
  display: flex;
  background-color: #757575;
  height: 104px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
}

/* @media (min-width: 600px) and (max-width:1000px) {

} */

@media (max-width: 1000px) {
  .cover {
    height: 100px;
  }
  .cover-container {
    margin-left: 10px;
  }
  .learning-box, .learning-content-box {
    display: block;
  }
  .lecturelist-box, .video-box, .reference-box  {
    width: 95%;
    margin: 10px auto;
  }
  .lecture-video {
    border-radius: 10px;
  }
  .reference-list {
    display: flex;
  }
  .reference-list-element {
    display: flex;
    justify-content: center;
    flex:auto;
    border-bottom: none;
  }
  .note-box {
    width: 95%;
  }
  .note-empty {
    display: none;
  }
  .note-content-box {
    margin-top: 0;
  }
  /* nav */

  form.search input {
    /* flex:none; */
    width: 320px;
    /* color:black; */
    border-radius: 5px;
  }
  .nav-login{
    position: absolute;
    right: 10px;
    margin: 0;
  }
  .nav-title {
    flex:none;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .nav-search {
    position: absolute;
    left: 10px;
    border: 0;
    margin-left: 0;
  }
  .keyin_Keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #438899;
    border: 0;
    border-radius: 5px;
    width: 38px;
    height: 38px;
  }
  .search {
    position: absolute;
    top: 30px;
  }
  .search-list {
    top: 108px;
    min-width: 250px;
    opacity: 1;
  }
  #keyword {
    display: none;
  }
  .nav-login-menu {
    display: flex;
    margin: 0;
  }
  .nav-login-menu-box {
    position: absolute;
    display: none;
    top: 48px;
    right: -10px;
    width: 120px;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
  }
  .nav-login-box{
    justify-content: center;
    padding: 10px;
    margin: 0;
    border: 0;
  }
  .img-hamburger-menu{
    display: flex;
  }

  .profile-box {
    border: 0;
  }

  footer {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  /* .nav-title {
    display: none;
  } */
  form.search input {
    /* flex:none; */
    width: 320px;
    /* color:black; */
    border-radius: 5px;
  }
  .note-btn {
    padding: 0 5px;
  }
  .nav-login{
    position: absolute;
    right: 10px;
    margin: 0;
  }
  .nav-title {
    flex:none;
    margin-left: 0;
  }
  .nav-search {
    position: absolute;
    left: 10px;
    border: 0;
    margin-left: 0;
  }
  .keyin_Keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #438899;
    border: 0;
    border-radius: 5px;
    width: 38px;
    height: 38px;
  }
  .search {
    position: absolute;
    top: 30px;
  }
  .search-list {
    top: 108px;
    min-width: 250px;
    opacity: 1;
  }
  #keyword {
    display: none;
  }
  .nav-login-menu {
    display: flex;
    margin: 0;
  }
  .nav-login-menu-box {
    position: absolute;
    display: none;
    top: 48px;
    right: -10px;
    width: 120px;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
  }
  .nav-login-box{
    justify-content: center;
    padding: 10px;
    margin: 0;
    border: 0;
  }
  .img-hamburger-menu{
    display: flex;
  }

  .profile-box {
    border: 0;
  }

  footer {
    font-size: 0.8rem;
  }
}
