* {
  margin: 0;
  padding: 0;
}
html {
  opacity: 1;
}
.hideall {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.25;
  z-index: 3;
}

/* login & register*/
.login-box, .register-box {
  display: none;
  position: fixed;
  top:80px;
  left: calc(50% - 170px);
  width:340px;
  /* height:275px; */
  background-color: white;
  z-index: 4;
}
.register-box {
  /* height:332px; */
}
.login-header, .register-header {
  height:10px;
  background: linear-gradient(to top left, #6baebf, #a1d7e8);
}

.login-title, .register-title {
  position: relative;
  margin:15px;
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
}

.login-cancel, .register-cancel {
  position: absolute;
  top: 0;
  right: 17px;
  width: 16px;
  height: 16px;
}
.login-cancel:hover , .register-cancel:hover, .nav-schedule:hover {
  cursor: pointer;
}
.login-email, .login-password,.register-name, .register-email, .register-password  {
  margin:0 15px 10px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  padding-left:15px;
}

.g-signin2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-btn, .register-btn {
  display: flex;
  width: 310px;
  height: 47px;
  margin:0 15px 10px;
  background: #448899;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border: none;
}
.login-btn:hover, .register-btn:hover {
  cursor: pointer;
}
.login-status, .register-status {
  display:none;
  justify-content: center;
  /* text-align: center; */
  width: 310px;
  height: 22px;
  margin:0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;

}
.login-register, .register-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 22px;
  margin:0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}
.login-register:hover, .register-login:hover {
  cursor: pointer;
}

/* nav */
.nav-bar {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid #E8E8E8;
  box-shadow: 0px 4px 5px gray;
}

.nav-bar-items {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.nav-title {
  flex: auto;
  margin-left: 20px;
  font-size: 1.5rem;
  color: #438899;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
a,a:link,a:visited {
  color: #438899;
  text-decoration: none;
}


.nav-search {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  border: 1px solid gray;
  border-radius: 7px;
}

.nav-search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form.search {
  /* height: 46px; */
  width: 100%;
}

form.search input {
  float: left;
  background-color: white;
  height: 46px;
  border: 0;
  width: 100%;
  border-radius: 5px 0 0 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  text-indent: 15px;
}

.search-list {
  display: none;
  position: absolute;
  left: 0;
  top: 54px;
  background-color: white;
  width: 100%;
  opacity: 0.8;
  border-radius: 0 0 5px 5px;
}

.search-box {
  margin:5px;
  font-family: Noto Sans TC;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 1rem;
}

.search-box:hover {
  cursor: pointer;
}

.keyin_Keyword {
  float: left;
  height: 46px;
  width: 46px;
  background-color: #438899;
  border: 0;
  border-radius: 0 6px 6px 0;
}
.keyin_Keyword:hover {
  cursor: pointer;
}

.nav-login {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  margin: 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.nav-login-box:hover, .nav-logout:hover{
  cursor: pointer;
  background-color: #438899;
  color: white;
}

.nav-login-box {
  display: none;
  margin: 0 10px;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 5px;
}
/* #mylearning-btn, #logout-btn {
  display: none;
} */

.nav-login-menu {
  position: relative;
  /* display: none; */
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.img-hamburger-menu {
  display: none;
  width: 35px;
  height: 35px;
}


.nav-login-menu-box {
  /* margin:10px; */
  display: flex;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.profile-box {
  position: relative;
  display: none;
  margin: 0 10px;
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 5px;
}

.profile-box:hover {
  cursor: pointer;
  background-color: #438899;
  color: white;
}

.profile-box-list {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  background-color: white;
  min-width: 80px;
  border-radius: 5px;
}

.profile-box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  color: #666666;
}

.profile-box-item:hover{
  cursor: pointer;
  background-color: #438899;
  color: white;
}


/* main */

.main {
  padding-top: 55px;
}

.main-profile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.main-profile-item {
  border: 1px solid #757575;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 20px;
}

.main-profile-item:hover {
  cursor: pointer;
  background-color: #438899;
  color: white;
}

.main-profile-content-list {
  max-width: 1200px;
  width: 50%;
  border-radius: 5px;
  margin: 20px auto;
  border: 1px solid #757575;
}

.main-profile-content-title {
  text-align: center;
  border-bottom: 1px solid #757575;
}

.main-profile-content-title-1 {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.main-profile-content-title-2 {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
}

.main-profile-content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #757575;
  padding: 10px;
}

.main-profile-content-myprofile-title {
  margin: 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.main-profile-content-myaccount {
  display: none;
}

.main-profile-content-myaccount-email {
  margin: 10px 0;
}

.edit-password-input {
  margin: 10px 0;
}

.edit-password-input input {
  height: 35px;
  padding-left: 5px;
  width: 100%;
}

.edit-password-input-error {
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

#modify-name {
  height: 25px;
  padding-left: 5px;
}

.main-profile-submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.main-profile-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  color: #666666;
  border: 1px solid #757575;
  border-radius: 5px;
  width: 40px;
}

.main-profile-submit-btn:hover {
  cursor: pointer;
  background-color: #438899;
  color: white;
}

.edit-name-input-error, .edit-password-input-error, .edit-subscription-input-error {
  text-align: center;
}

.main-profile-content-mysubscription {
  display: none;
}

.main-profile-content-mysubscription-status {
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}



footer {
  display: flex;
  background-color: #757575;
  height: 104px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
  }
}

@media (max-width: 1000px) {
  .course-content-main {
    justify-content: flex-start;
  }
  .cover {
    position:relative;
  }
  .cover-img {
    position: absolute;
    height: 60%;
    bottom: 0;
    right: 0;
    width: auto;
  }
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 40px auto;
  }

  .image-gallery .img {
    width: 45%;
  }

  form.search input {
    /* flex:none; */
    width: 320px;
    /* color:black; */
    border-radius: 5px;
  }

  .nav-login{
    position: absolute;
    right: 10px;
    margin: 0;
  }
  .nav-title {
    flex:none;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .nav-search {
    position: absolute;
    left: 10px;
    border: 0;
    margin-left: 0;
  }
  .keyin_Keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #438899;
    border: 0;
    border-radius: 5px;
    width: 38px;
    height: 38px;
  }
  .search {
    position: absolute;
    top: 30px;
  }
  .search-list {
    top: 108px;
    min-width: 250px;
    opacity: 1;
  }
  #keyword {
    display: none;
  }
  .nav-login-menu {
    display: flex;
    margin: 0;
  }
  .nav-login-menu-box {
    position: absolute;
    display: none;
    top: 48px;
    right: -10px;
    width: 120px;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
  }
  .nav-login-box{
    justify-content: center;
    padding: 10px;
    margin: 0;
    border: 0;
  }
  .img-hamburger-menu{
    display: flex;
  }

  .profile-box {
    border: 0;
  }

  footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .course-content-main {
    justify-content: flex-start;
  }

  .nav-bar-items {
    margin: auto 20px;
  }

  .cover {
    height: 280px;
    position:relative;
  }
  .cover-img {
    position: absolute;
    bottom: 0;
    width: 60%;
    right: 0;
  }

  .cover-content {
    width: 100%;
    margin: auto 20px;
  }

  form.search input {
    /* flex:none; */
    width: 230px;
    /* color:black; */
    border-radius: 5px;
  }

  .nav-login{
    position: absolute;
    right: 10px;
    margin: 0;
  }
  .nav-title {
    flex:none;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .nav-search {
    position: absolute;
    left: 10px;
    border: 0;
    margin-left: 0;
  }
  .keyin_Keyword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #438899;
    border: 0;
    border-radius: 5px;
    width: 35px;
    height: 35px;
  }
  .search {
    position: absolute;
    top: 30px;
  }
  .search-list {
    top: 108px;
    min-width: 250px;
    opacity: 1;
  }
  #keyword {
    display: none;
  }
  .nav-login-menu {
    display: flex;
    margin: 0;
  }
  .nav-login-menu-box {
    position: absolute;
    display: none;
    top: 48px;
    right: -10px;
    width: 120px;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
  }
  .nav-login-box{
    justify-content: center;
    padding: 10px;
    margin: 0;
    border: 0;
  }
  .img-hamburger-menu{
    display: flex;
  }

  .profile-box {
    border: 0;
  }

  footer {
    font-size: 0.8rem;
  }
}
