* {
  margin: 0;
  padding: 0;
}
html {
  opacity: 0;
}

a, a:link, a:visited {
  color: #438899;
  text-decoration: none;
}

.hideall {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.25;
  z-index: 3;
}

/* login & register*/
.login-box, .register-box {
  display: none;
  position: fixed;
  top: 80px;
  left: calc(50% - 170px);
  width: 340px;
  /* height:275px; */
  background-color: white;
  z-index: 4;
}

.register-box {
  /* height:332px; */
}

.login-header, .register-header {
  height: 10px;
  background: linear-gradient(to top left, #6baebf, #a1d7e8);
}

.login-title, .register-title {
  position: relative;
  margin: 15px;
  text-align: center;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
}

.login-cancel, .register-cancel {
  position: absolute;
  top: 0;
  right: 17px;
  width: 16px;
  height: 16px;
}

.login-cancel:hover, .register-cancel:hover, .nav-schedule:hover, .delete-icon:hover,.confirm-btn:hover {
  cursor: pointer;
}

.login-email, .login-password, .register-name, .register-email, .register-password {
  margin: 0 15px 10px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  padding-left: 15px;
}

.login-btn, .register-btn {
  display: flex;
  width: 310px;
  height: 47px;
  margin: 0 15px 10px;
  background: #448899;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border: none;
}

.login-btn:hover, .register-btn:hover {
  cursor: pointer;
}

.login-status, .register-status {
  display: none;
  text-align: center;
  width: 310px;
  height: 22px;
  margin: 0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.login-register, .register-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 22px;
  margin: 0 15px 15px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.login-register:hover, .register-login:hover {
  cursor: pointer;
}

/* nav */
.nav-bar {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid #E8E8E8;
}

.nav-bar-items {
  display: flex;
  height: 54px;
  align-items: center;
  max-width: 1200px;
  margin: auto 18%;
}

.nav-title {
  flex: none;
  text-align: center;
  font-size: 1.5rem;
  color: #438899;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}

a, a:link, a:visited {
  color: #438899;
  text-decoration: none;
}

.nav-menu {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-schedule {
  height: 14px;
  margin: 10px 20px 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.nav-login {
  height: 14px;
  margin: 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.nav-login:hover, .nav-logout:hover {
  cursor: pointer;
}

/* .nav-logout {
  display: none;
  height: 14px;
  margin: 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
} */
main {
  padding-top: 54px;
  max-width: 1200px;
  margin: auto;
}

/* .main-body {
  display: none;
} */

footer {
  display: flex;
  background-color: #757575;
  height: 100vh;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #FFFFFF;
  justify-content: center;
  /* align-items: center; */
  padding-top: 45px;
}

/* greeting */
.greeting {
  padding: 46px 90px 0 90px;
  height: 16px;
  /* Button - Bold 19(16) */
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 16px;
  /* identical to box height, or 84% */
  display: flex;
  align-items: center;
  /* Gray 800 */
  color: #666666;
}

/* payment-status */
.payment-status {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 83% */
  align-items: center;
  color: #666666;
  height: 24px;
  padding: 20px 90px 40px 90px;
}

/* @media (min-width: 1200px) {

} */
  @media (min-width: 600px) and (max-width:800px) {
    .nav-bar-items {
      margin: auto 20px;
    }
    .attraction-info{
      display: block;
      /* justify-content: center; */
      flex-wrap: wrap;
    }
    .contact-remider {
      line-height: 25px;
      padding-top: 20px;
    }
    .attraction-Content {
      margin-left: 0;
      margin-top: 20px;
    }
    /* .input-attraction-address {
      line-height: 32px;
    } */
  }

  @media (max-width: 600px) {
    .nav-bar-items {
      margin: auto 20px;
    }
    .attraction, .contact,.payment {
      padding: 46px 22px;
    }
    .attraction {
      padding-top: 7px;
    }

    .greeting {
      padding: 46px 45px 0;
    }

    .payment-status {
      padding: 20px 45px 190px;
    }

    .attraction-info{
      display: block;
    }
    .attraction-img {
      max-width: 340px;
      max-height: 256px;
      padding: 0 2px;
      margin: 35px auto;
    }
    .attraction-Content {
      margin:0;
    }
    .contact-remider {
      line-height: 25px;
      padding-top: 20px;
    }
    .confirm-box {
      right:10px;
    }
    .no-booking {
      padding-left: 10px;
    }
  }
