<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>台北一日遊</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/attraction-style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="../static/img/favicon.ico">
  <script src="../static/js/attraction.js" async></script>
</head>

<body class="body">
  <div class="hideall"></div>
  <!-- login box -->
  <div class="login-box">
    <div class="login-header"></div>
    <div class="login-title">
      登入會員帳號
      <img src="../static/img/icon_close.svg" alt="" class="login-cancel">
    </div>
    <!-- <form id="login-form" method="PATCH" > -->
      <input type="text" name="email" placeholder="輸入電子信箱" class="login-email">
      <input type="password" name="password" placeholder="輸入密碼" class="login-password">
      <!-- <input type="submit" value="登入帳戶" class="login-btn"> -->
    <!-- </form> -->
    <div class="login-btn">登入帳戶</div>
    <div class="login-status"></div>
    <div class="login-register" >還沒有帳戶？點此註冊</div>
  </div>
  <!-- register box -->
  <div class="register-box">
    <div class="register-header"></div>
    <div class="register-title">
      註冊會員帳號
      <img src="../static/img/icon_close.svg" alt="" class="register-cancel">
    </div>
    <form id="register-form" method="POST">
      <input type="text" name="name" placeholder="輸入姓名" class="register-name" required>
      <input type="text" name="email" placeholder="輸入電子信箱" class="register-email" required>
      <input type="password" name="password" placeholder="輸入密碼" class="register-password" required>
      <!-- <input type="submit" value="註冊新帳戶" class="register-btn"> -->
    </form>
    <div class="register-btn">註冊新帳戶</div>
    <div class="register-status" ></div>
    <div class="register-login">已經有帳戶了？點此登入</div>
  </div>

  <div class="nav-bar">
    <div class="nav-bar-items">
      <div class="nav-title"><a href="/">台北一日遊</a></div>
      <div class="nav-menu">
        <div class="nav-schedule">預定行程</div>
        <!-- <div class="nav-logout">登出系統</div> -->
        <div class="nav-login"></div>
      </div>
    </div>
  </div>
  <main class="main">
    <div class="loading">
      <img src="../static/img/loading.gif" alt="">
    </div>
    <div class="product">
      <div class="img">
        <img src="../static/img/btn_leftArrow.svg" class="img-left">
        <img src="../static/img/btn_rightArrow.svg" class="img-right">
        <ul class="img-order"></ul>
      </div>
      <div class="info">
        <div class="name"></div>
        <div class="location"></div>
        <div class="booking">
          <div class="booking-name">訂購導覽行程</div>
          <div class="booking-story">以此景點為中心的一日行程，帶您探索城市角落故事</div>
          <form>
            <div class="booking-date">選擇日期：
                <input type="date" id="date" class="booking-date-input" required>
            </div>
            <div class="booking-time">選擇時間：
              <input type="radio" name="time" class="time-select" id="timeUp" value="upper" required><label for="upper">上半天</label>
              <input type="radio" name="time" class="time-select" id="timeDown" value="downer" required><label for="downer">下半天</label>
            </div>
            <div class="booking-fee">導覽費用：<span class="total-fee"></span></div>
            <!-- <input type="submit" class="booking-confirm" value="開始預定行程"></input> -->
            <div class="booking-confirm">開始預定行程</div>
            <div class="booking-confirm-null">請確認並重新選擇</div>
          </form>
        </div>
      </div>

    </div>
    <div class="description">
      <div class="content"></div>
      <div class="address">
        <div class="address-title">景點地址：</div>
        <div class="address-content"></div>
      </div>
      <div class="traffic">
        <div class="traffic-title">交通方式：</div>
        <div class="traffic-content"></div>
      </div>
    </div>
  </main>

  <footer class="copyright" id="footer">COPYRIGHT &copy;2021 台北一日遊</footer>
</body>

</html>
