<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>
  <link rel="stylesheet" type="text/css" href="/css/hands-style.css">
</head>

<body>
  <div class="container">
    <video class="input_video" style="display:none;"></video>
    <canvas class="output_canvas" width="150px" height="150px"></canvas>
    <video class="play_video" controls autoplay preload src="https://ocwvideo.nctu.edu.tw/Pub/mds072/mds072_190225.mp4" width="540px" height="480px"></video>
  </div>
  <div class="show-direction"></div>
  <div class="play_video_time"></div>

  <script type="module">
  const videoElement = document.getElementsByClassName('input_video')[0];
  const canvasElement = document.getElementsByClassName('output_canvas')[0];
  const canvasCtx = canvasElement.getContext('2d');
  let last_handmarks = [];
  function onResults(results) {
    canvasCtx.save();
    canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
    canvasCtx.drawImage(
        results.image, 0, 0, canvasElement.width, canvasElement.height);
    if (results.multiHandLandmarks) {
      // setInterval(()=>{
      //   detectDirection(last_handmarks,results.multiHandLandmarks[0]);
      // },3000);
      detectDirection(last_handmarks,results.multiHandLandmarks[0]);
      last_handmarks = results.multiHandLandmarks[0];
      // console.log(results.multiHandLandmarks);
      for (const landmarks of results.multiHandLandmarks) {
        // console.log(landmarks);
        drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                       {color: '#00FF00', lineWidth: 5});
        drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
      }
    }
    canvasCtx.restore();
  }

  const hands = new Hands({locateFile: (file) => {
    return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
  }});
  hands.setOptions({
    maxNumHands: 1,
    minDetectionConfidence: 0.7,
    minTrackingConfidence: 0.7
  });
  hands.onResults(onResults);

  const camera = new Camera(videoElement, {
    onFrame: async () => {
      await hands.send({image: videoElement});
    },
    width: 150,
    height: 150
  });
  camera.start();

  function detectDirection(last_handmarks,now_handmarks){
    let play_video = document.querySelector(".play_video");
    // console.log(last_handmarks,now_handmarks);
    if(last_handmarks.length === 0 || now_handmarks.length === 0){
      return ;
    }

    // console.log(now_handmarks[8]);
    let last_x_avg = (last_handmarks[8].x + last_handmarks[12].x + last_handmarks[16].x + last_handmarks[20].x) / 4;
    let now_x_avg = (now_handmarks[8].x + now_handmarks[12].x + now_handmarks[16].x + now_handmarks[20].x) / 4;
    // console.log("last_x_avg: " + last_x_avg);
    // console.log("now_x_avg: " + now_x_avg);
    // console.log("diff:" + (now_x_avg - last_x_avg));
    if( (now_x_avg - last_x_avg) > 0.17 ){
      let direction = document.querySelector(".show-direction");
      direction.innerHTML = "左";
      play_video.currentTime = play_video.currentTime + 10; //+ 10 secs

    }else if ((now_x_avg - last_x_avg) < -0.17) {
      let direction = document.querySelector(".show-direction");
      direction.innerHTML = "右";
      play_video.currentTime = play_video.currentTime - 10; //- 10 secs
    }

  }
  function display_video_current(){
    let play_video = document.querySelector(".play_video");
    play_video.addEventListener("timeupdate",()=>{
      let video_time_div = document.querySelector(".play_video_time");
      video_time_div.innerHTML = play_video.currentTime;
    })
  };
  display_video_current();
  </script>
</body>
</html>
