<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>OCW Notebook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This OCW notebook allows you to learn with OCW resouces from universities in Taiwan and you can record your learning history and notes which inspires you!"/>
  <link rel="stylesheet" type="text/css" href="/css/myprofile-style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="202448949919-94cu195aipb0jamqqdpbq5of9dk276vo.apps.googleusercontent.com">
  <link rel="icon" href="/img/favicon.ico">
</head>

<body class="body">
  <div class="hideall"></div> <!-- login box -->
  <div class="login-box">
    <div class="login-header"></div>
    <div class="login-title"> 登入會員帳號 <img src="/img/icon_close.svg" alt="icon_close Error" class="login-cancel"> </div> <!-- <form id="login-form" method="PATCH" > -->
    <div class="login-input-box">
      <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
      <div class="g-signin2" onclick="ClickLogin()" data-onsuccess="onSignIn" data-theme="dark" data-prompt="select_account"></div> <input type="text" name="email" placeholder="輸入電子信箱" class="login-email"> <input type="password" name="password"
        placeholder="輸入密碼" class="login-password">
    </div> <!-- <input type="submit" value="登入帳戶" class="login-btn"> -->
    <!-- </form> -->
    <div class="login-btn">登入帳戶</div>
    <div class="login-status"></div>
    <div class="login-register">還沒有帳戶？點此註冊</div>
  </div> <!-- register box -->
  <div class="register-box">
    <div class="register-header"></div>
    <div class="register-title"> 註冊會員帳號 <img src="/img/icon_close.svg" alt="icon_close Error" class="register-cancel"> </div>
    <form id="register-form" method="POST"> <input type="text" name="name" placeholder="輸入姓名" class="register-name" required> <input type="text" name="email" placeholder="輸入電子信箱" class="register-email" required> <input type="password" name="password"
        placeholder="輸入密碼" class="register-password" required> <!-- <input type="submit" value="註冊新帳戶" class="register-btn"> -->
    </form>
    <div class="register-btn">註冊新帳戶</div>
    <div class="register-status"></div>
    <div class="register-login">已經有帳戶了？點此登入</div>
  </div>
  <div class="nav-bar">
    <div class="nav-bar-items">
      <h1>
        <div class="nav-title"><a href="/">OCW Notebook</a></div>
      </h1>
      <div class="nav-search">
        <div class="nav-search-box">
          <form class="search" action="/search" name="search-keyword"> <input type="search" placeholder="輸入課程關鍵字" name="keyword" AUTOCOMPLETE="off" id="keyword" class="search"> </form> <button type="button" class="keyin_Keyword"><img
              src="/img/icon_search.svg" alt="icon_search Error"></button>
          <div class="search-list"> </div>
        </div>
      </div>
      <div class="nav-login">
        <div id="hamburger_menu" class="nav-login-menu"> <img src="/img/hamburger_menu.svg" alt="hamburger_menu Error" class="img-hamburger-menu">
          <div class="nav-login-menu-box">
            <div id="login-btn" class="nav-login-box">登入</div>
            <div id="register-btn" class="nav-login-box">註冊</div>
            <div id="mylearning-btn" class="nav-login-box">學習紀錄</div>
            <div id="profile-btn" class="profile-box">
              <div class="nav-myname"></div>
              <div class="profile-box-list">
                <div id="my-profile" class="profile-box-item">個人資料</div>
                <div id="logout-btn" class="profile-box-item">登出</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="main">
    <div class="main-box">
      <div class="main-profile-list">
        <div id="edit-profile" class="main-profile-item">個人檔案</div>
        <div id="edit-account" class="main-profile-item">帳戶</div>
        <div id="edit-subcription" class="main-profile-item">訂閱</div>
      </div>
      <div class="main-profile-content-list">
        <div class="main-profile-content-title">
          <div class="main-profile-content-title-1">個人檔案</div> <!-- 帳戶 -->
          <div class="main-profile-content-title-2">修改資訊</div> <!-- 帳戶及更改密碼 -->
        </div>
        <div class="main-profile-content-main">
          <!-- 更改姓名 -->
          <div class="main-profile-content-myprofile">
            <div class="main-profile-content-myprofile-title">會員名稱：</div> <input id="modify-name" type="text" name="" value="">
            <div class="edit-name-input-error"></div>
            <div class="main-profile-submit-box">
              <div id="main-profile-name-submit-btn" class="main-profile-submit-btn">Save</div>
            </div>
          </div>
          <!-- 更改密碼 -->
          <div class="main-profile-content-myaccount">
            <div class="main-profile-content-myaccount-email">
              <div class="main-profile-content-myaccount-email-title">電子郵件：</div>
              <div class="main-profile-content-myaccount-email-display"></div>
            </div>
            <div class="main-profile-content-myaccount-password">
              <div class="main-profile-content-myaccount-password-title">密碼：</div>
              <div class="edit-password-input"> <input id="now-password" type="password" name="" value="" placeholder="輸入目前密碼"> </div>
              <div class="edit-password-input"> <input id="new-password" type="password" name="" value="" placeholder="輸入新的密碼"> </div>
              <div class="edit-password-input"> <input id="new-password-confirm" type="password" name="" value="" placeholder="重新輸入新密碼"> </div>
              <div class="edit-password-input-error"></div>
            </div>
            <div class="main-profile-submit-box">
              <div id="main-profile-password-submit-btn" class="main-profile-submit-btn">Save</div>
            </div>
          </div>
          <!-- 取消訂閱 -->
          <div class="main-profile-content-mysubscription">
            <!-- <div class="main-profile-content-mysubscription-title">會員名稱：</div> <input id="modify-name" type="text" name="" value=""> -->
            <div class="main-profile-content-mysubscription-status"></div>
            <div>
              <input type="radio" id="keep-sub" name="sub" value="1" checked>
              <label for="huey">繼續訂閱提醒信件</label>
            </div>
            <div>
              <input type="radio" id="cancel-sub" name="sub" value="0" >
              <label for="huey">取消訂閱提醒信件</label>
            </div>
            <div class="edit-subscription-input-error"></div>
            <div class="main-profile-submit-box">
              <div id="main-profile-mysubscription-submit-btn" class="main-profile-submit-btn">Save</div>
            </div>
          </div>
        </div> <!-- <div class="main-profile-content-submit"> <div class="main-profile-submit-btn">Save</div> </div> -->
      </div>
    </div>
  </main>
  <footer class="copyright" id="footer">COPYRIGHT &copy;2021 OCW Notebook Taiwan</footer>
  <script src="/js/myprofile.js" type="text/javascript"></script>
</body>

</html>
